/*For fonts family we add more than one font in case the user did not have the first font the browser will display the other fonts */
body{
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 30px;
}
/*Shortcut for padding
padding: top right,left bottom;
padding: 50px 0 50px; */
header{
    background-color: #8F41B3;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
h1, h2{
    font-family: 'Noto Serif JP',sans-serif;
}
header h1{
    color: white;
    font-size: 70px;
}
/*Broder-radius make the edges of an element round the big element = big radius
broder shortcut
broder: width style color: */
header img{
    border-radius: 170px;
    width: 300px;
    border: 20px solid #ffff;
}
/*To center the content without centering text we use max-width and margin
max-width: 800px; is for the content width, we write it to prevent elements to streching outside the box. in our website these are images.
margin: 0 auto; is for centering all box elements including images,
that's why we wrote 0 for top,bottom and auto for right,left to center images. 
*/
main{
    max-width: 800PX;
    margin: 0 auto;
    padding: 20px;
}
main img{
    max-width: 100%;
}
/*margin: top right,left bottom; */
h2{
    font-size: 35px;
    color: #8F41B3;
    margin: 40px 0 10px;
}
a{
    color: #8F41B3;
}
a:hover{
    background-color: blue;
    color: white;
}
footer{
    background-color: #8F41B3;
    text-align: center;
    color: white;
    padding: 50px;
}
footer p{
    margin: 0;
}
footer a{
    color: white;
}
/*Opacity from 0 to 1, used for transparent level of an element 1 not transparent 0 transparent */
footer a:hover{
    opacity: .5;
    background-color: transparent;
}
p.caption{
    columns: #999999;
    font-style: italic;
    margin-top: 0;
}
